@charset "utf-8";
/* CSS Document */
body
{
	margin:0px 0px 0px 0px;
	padding:0px;
	font-family:"微軟正黑體";
}
a
{
	text-decoration:none;
}
.all
{
	min-width:100%;
	height:100%;
	background-color:rgba(0,153,255,0.3);
}
.top
{
	font-size:70px;
	width:100%;
	height:170px;
	background-color:rgba(255,0,0,1);
	float:left;
}
.topp
{
	width:100%;
	height:60px;
	background-color:rgba(100,0,0,0.3);
	float:left;
}
.content
{
	width:100%;
	min-height:100%;
	background-color:rgba(100,153,204,0.3);
	overflow:visible;
	float:left;
}
.menu
{
	display:inline;
	font-size:18px;
	cursor:pointer;
}
.ls
{
	margin:0px 10px;
	padding:10px 40px;
	border:rgba(255,255,255,1) thin solid;
	color:rgba(255,255,255,1);
	border-radius:5px;
	background-color:rgba(0,102,204,0.4);
}
.ls:hover
{
	font-style:oblique;
	border:rgba(0,102,255,1) thin dashed;
}
.middle
{
	width:100%;
	height:80.5%;
	float:left;
}

.item
{
	width:250px;
	height:200px;
	background-color:rgba(0,153,204,1);
	float:left;
	margin:20px 40px;
	border-radius:10px;
	border:rgba(0,51,255,1) 2px solid;
}
.item:hover
{
	border:rgba(255,0,0,1) 2px solid;
}
.item_bt
{
	width:100px;
	height:40px;
	margin:10px 10px;
	font-size:18px;
	border-radius:5px;
	background-color:rgba(51,102,204,1);
	color:rgba(255,255,255,1);
	cursor:pointer;
	font-family:"微軟正黑體";
}
.tt
{
	width:360px;
	height:40px;
	font-size:18px;
	border-radius:5px;
}
